@model CoreTechs.Web.Models.ModelEntities.Employees

@section Head
{
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Employee - CoreTechs.Web</title>
    @* bootstrap 5 *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
}

@await Html.PartialAsync("~/Views/Shared/Home/_Header.cshtml")

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Update Employee</h1>
    </div>

    <form asp-action="DeleteEmployee" asp-controller="Home" method="post" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Enter Name" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone" readonly />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Address" class="form-control" placeholder="Enter Address" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Salary" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Salary" class="form-control" placeholder="Enter Salary" readonly />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-controller="Home" asp-action="GetEmployee" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>



</div>



@await Html.PartialAsync("~/Views/Shared/Home/_Footer.cshtml")

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* bootstrap 5 *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
}